*
{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;;
}

.nav
{
    width: 100%;
    display: flex;
    gap: 4em;
    padding: 1em 1em 1em 3em;
    flex-direction: row;
    background-color: rgb(26, 26, 252);
    color: white;
    flex: 1;
    justify-content: space-evenly;
}

.nav1{
    justify-content: right;
}

 a{
    color: azure;
    text-decoration: none;
}

 a:link{
    color: azure;
    text-decoration: none;
}
 a:hover{
    color: chartreuse;
    text-decoration: none;
}

#header-text
{
    font-size: 30px;
    margin: 4px 4px;
}

header
{
    margin: .5em;
    padding-left: 5em;
    display: flex;
    align-items: center;
    color: rgb(26, 26, 252);
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
hr{
    background-color: rgb(26, 26, 252);
}

main .main1, main .main2{
    
    height: fit-content;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
    color: azure;

    line-height: 80px;
    
   
   
}
.upper{
    display: flex;
    margin-top: 2em;
}
.main1{
    flex: 60%;
    width: 50%;
    height: 40vh;
    border-right: 1px solid blue;
}
.main2{
    width: 50%;
    height: 40vh;
    padding: 10px;
    text-align: center;
    
}
.main1 li{
    list-style: none;
    
}
span .inputcolor{
    background-color: rgb(26, 26, 252);
}

.main3{
    width: 100%;
    height: 20vh;
    padding: 10px;
    color: blue;
}
.main3 li{
    list-style:square;
    line-height: 40px;
}
main p{
    color:blue;
    
}

main li{
    color:blue;
    text-decoration: none;
    text-indent: 10px;
}

span {
    
    font-size: small;
    font-weight: lighter;
    padding: 5px;
    color: blue;
}

button{
    background-color: rgb(26, 26, 252);
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    
    cursor: pointer;
}

button:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.buttonn{
    margin-left: 15%;
    list-style: none;
}


.inputcolor{
    background-color: rgb(26, 26, 252);
    font-family: 'Roboto', sans-serif;
    color: azure;
    font-size: 18px;
    font-style: normal;
    padding: 15px;
    border-radius: 100% 10% 100% 100%;
}

footer
{
    width: 100%;
    margin-top: auto;
    display: flex;
    gap: 2em;
    padding: 1em 1em 1em 3em;
    background-color: rgb(26, 26, 252);
    color: white;
} 

.name{
    color: rgb(26, 26, 252);
    font-size: medium;
    font-weight: lighter;
}

.mainform{
    
    line-height: 50px;
   
}

#num-line
{
    border-top: 1px solid red;
    position: relative;
    top: 1.6em;
    width: 650px;
    z-index: 0;

}

#num-line-div
{
    display: flex;
    justify-content: center;
}

.number-container
{
    display: flex;
    justify-content: center;
    margin-top:1em;
    gap: 10em;
    z-index: 1;

}

.circle 
{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 2px;
    background: rgb(26, 26, 252);
    border: 1px solid rgb(26, 26, 252);
    color: white;
    text-align: center;
    font: 13px Arial, sans-serif;
}

#cc
{
    background: rgb(33, 129, 255);
    border: 1px solid cyan;
}

span.inputcolor
{
    margin-right: 1em;
}

.dark
{
    background-color: #292c35;
}

*{
    box-sizing: border-box;
}

body{ 
    background-color: #fff;
}


.label {
    background-color: black;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 5px;
    height: 27px;
    width: 50px;
    border-radius: 50px;
}

span.button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    margin: 0;
    position: relative; left: 780px;
}

body.dark {
    background-color: #292c35;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f1c40f;
}

.ball {
    width: 23px;
    background-color: #fff;
    top: 2px;
    border-radius: 50%;
    left: 2px;
    height: 23px;
    position: absolute;
    transition: transform 0.1s linear;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox:checked + .label {
    background-color: orangered;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.fa-calculator{
    color: white;
}

button[type = "submit"]:hover{
    color: chartreuse;
}

.fa-calculator:hover{
    background-color: orangered;
    box-shadow: #292c35 1px;
}

.inputss{
    width: 200px;
    margin:10px;
    border: black 1px solid;
    border-radius: 5px;
    padding:2px;
    display: inline-block;
}

.selected
{
    border: 2px solid blue;
}

#input1{
    padding: 2%;
}

#input2{
    padding: 2%;
    margin-top: 10%;
}