.quadContent
{
    width: 200px;
    height: 200px;
}

.quadHeader
{
    font-size: 1rem;
    color: #f77f00;
    margin: 10px;
}

.quadRoots
{
    background-color: #00509d;
    margin: 10px;
    color: white;
}

.quadInput
{
    width: 40px;

}

.quadCalcBtn
{
    font-size: .75rem;
    margin: 10px;
}