.disbuttonsK {
    height: 5em;
    justify-content: center;
    display: relative;
}

.buttonsK {
    display: grid;
    border-left: 1px solid#999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 6em;
    color: black;
    background: white;
}

.buttonsK > div {
    border-top: 1px solid #999;
    border-right: 1px solid#999;
}

.buttonK {
    border: 0.5px solid #999;
    border-radius: 0;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    background-color: rgb(46, 67, 182);
}

.buttonK:disabled {
    background: red;
}

#equalK {
    background-color: rgb(85, 85, 255);
    color: white;
}

.buttonK:hover {
    background-color: #323330;
    color: white;
    transition: 0.2s ease-in-out;
}

sup
{
    font-size: 15px;
}

