

.disbuttonsC {
    width: 200px;
    height: 200px;
    justify-content: center;
}

#displayC {
    text-align: right;
    height: 30px;
    padding-top: 5px;
    font-size: 17px;
    border-style: solid;
    border-width: 2px;
    background-color: rgb(207, 202, 202);
    animation: flyin ;
}

.buttonsC {
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid#999;
    grid-template-columns: 0.3fr 0.3fr 0.3fr 0.3fr;
}

.buttonsC > div {
    border-top: 1px solid #999;
    border-right: 1px solid#999;
}

.buttonC {
    border: 0.5px solid #999;
    line-height: 23px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

#equalC {
    background-color: rgb(85, 85, 255);
    color: white;
}

.buttonC:hover {
    background-color: #323330;
    color: white;
    transition: 0.2s ease-in-out;
}
input ~ .disbuttonsC{
    left: 10000px;
    transition: all 0.4s ease-in-out;
    transform: translate(100px);
    opacity: 0;

}

input:checked ~ .disbuttonsC{
    transition: all 0.4s ease-in-out;
    transform: translate(-150px);
    opacity: 100%;
}

body {
    overflow-x: hidden;
}