.disbuttonsK {
    width: 300px;
    height: 20px;
    justify-content: center;
    display: relative;

}

.buttonsK {
    display: grid;
    border-left: 1px solid#999;
    grid-template-columns: .25fr .25fr .25fr .25fr;
    color: black;
    background: white;
}

.buttonsK > div {
    border-top: 1px solid #999;
    border-right: 1px solid#999;
}

.buttonK {
    border: 0.5px solid #999;
    line-height: 5px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    
}

#equalK {
    background-color: rgb(85, 85, 255);
    color: white;
}

.buttonK:hover {
    background-color: #323330;
    color: white;
    transition: 0.2s ease-in-out;
}

sup
{
    font-size: 15px;
}

