*
{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;;
}



.nav1{
    justify-content: right;
}

a{
    color: azure;
    text-decoration: none;
}

 a:link{
    color: azure;
    text-decoration: none;
}
a:hover{
    color: #ffb703;
    text-decoration: none;
}

#header-text
{
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    margin: 4px 4px;
}

header
{
    margin: .5em;
    gap: 1em;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #003049;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
hr{
    background-color: rgb(26, 26, 252);
}

.main1, .main2, .main3
{
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1.5em;
    font-family: 'Roboto', sans-serif;
    color: blue;
    border-right: 1px solid blue;
}

.upper
{
    display: flex;
    margin-top: 2em;
}
.main1
{
    padding: 50px;
}
.main2
{
    margin: 2em 0;
}
.main3
{
    flex: 3;
}

#steps, #vis
{
    border: 3px solid #003049;
    background-color: #00509d;
    color: white;
    height: inherit;
    padding: 2em;
    overflow-y: auto;
}


.heading
{
    color: #FF4500;
}

button
{
    background-color: #00509d;
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: .5em;
    cursor: pointer;
}

button:hover
{
    color: cyan;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.inputcolor{
    background-color: #00509d;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 3em;
    height: 3em;
    width: 20vh;
}

footer
{
    width: 100%;
    margin-top: auto;
    display: flex;
    gap: 2em;
    padding: 1em 1em 1em 3em;
    background-color: #003049;
    color: white;
} 

.name{
    color: rgb(26, 26, 252);
    font-size: medium;
    font-weight: lighter;
}

.mainform{
    
    line-height: 50px;
   
}

#num-line
{
    border-top: 1px solid red;
    position: relative;
    top: 1.6em;
    width: 650px;
    z-index: 0;

}

#num-line-div
{
    display: flex;
    justify-content: center;
}

.number-container
{
    display: flex;
    justify-content: center;
    margin-top:1em;
    gap: 10em;
    z-index: 1;

}

span.inputcolor
{
    margin-right: 1em;
}

div.dark 
{
    background-color: #292c35;
    color: white;
    border: 1px solid white
}

span.dark 
{
    
    color: white;
    
}

.dark label
{
    color: white;
}

*{
    box-sizing: border-box;
}

body{ 
    background-color: #fff;
}


.label {
    background-color: black;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 5px;
    height: 27px;
    width: 50px;
    border-radius: 50px;
}

span.button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    margin: 0;
    position: relative; left: 780px;
}

body.dark {
    background-color: #292c35;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f1c40f;
}

.ball {
    width: 23px;
    background-color: #fff;
    top: 2px;
    border-radius: 50%;
    left: 2px;
    height: 23px;
    position: absolute;
    transition: transform 0.1s linear;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox:checked + .label {
    background-color: orangered;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.fa-calculator{
    color: white;
}

button[type = "submit"]:hover{
    color: chartreuse;
}

.fa-calculator:hover{
    background-color: orangered;
    box-shadow: #292c35 1px;
}

.inputss{
    width: 15em;
    height: 3em;
    margin:10px;
    border: black 1px solid;
    border-radius: 5px;
    padding: 2px;
    color: black;
    font-size: 18px;

}

.selected
{
    border: 2px solid blue;
}

#input1
{
    color: #fa7e19;
    padding: 2%;
}

#input2
{
    color: #388c46;
    padding: 2%;
}

.selected_op
{
    background-color: rgb(33, 129, 255); 
    border: 2px solid cyan;
}

.flex-con
{
    display: flex;
    align-items: center;
    gap: 3em;
}

#letsCompute:hover
{
    color: cyan;
}

#result
{
    color: #ff007f;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

#calcAnim
{
    margin-left: auto;
}


.selected_el
{
    background-color: orange;
    color: white;
}

.green
{
    background-color: green;
    color: white;
}

.red
{
    background-color: red;
    color: white;
}

#note
{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: red;
    font-size: 18px;
}

nav
{
    display: flex;
    gap: 4em;
    background-color: #003049;
    padding: 1em 3em;  
}

.desktop-view
{
    display: flex;
    gap: 2rem;
    flex-direction: row;
    color: white;
    flex: 1;
    justify-content: space-evenly;
}

.mobile-view
{
    display: none;
}

.hamburger
{
    margin-left: auto;
    display: none;
    color: white;
}

@media (max-width: 480px)
{
    .upper
    {
        flex-wrap: wrap;;
    }
    .main1
    {
        padding: 1rem;
    }
    .main4
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 2rem;
    }
    .hamburger
    {
        display: block;
    }
    .desktop-view
    {
        display: none;
    }
    nav
    {
        display: block;
        padding: 1em;
    }
    .mobile-view
    {
        flex-direction: column;
        gap: 2rem;
        padding: 15px;
        align-items: center;
    }
    .flex-con
    {
        flex-wrap: wrap;
        gap: 1rem
    }
    .main1,.main2,.main3
    {
        border: 0;
    }
    #steps, #vis
    {
        padding: 0;
    }
    #steps
    {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        padding: 1rem;
    }
    #calcAnim
    {
        margin-left: 0;
    }
}
