*
{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.nav
{
    display: flex;
    gap: 2em;
    padding: 1em 1em 1em 3em;
    background-color: #003049;
    color: white;
}

#header-text
{
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    margin: 4px 4px;
}

header
{
    margin: .5em;
    gap: 1em;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #003049;
}

.main1 .inputst{
    padding: 100px;
}

body
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer
{
    margin-top: auto;
    display: flex;
    width: 100%;
    gap: 2em;
    padding: 1em 1em 1em 3em;
    background-color: #003049;
    color: white;
}

#learnpoly,#home,#settings,#feedback,.link
{
    color: white;
    text-decoration: none;
}
#learnpoly:hover,#home:hover,#settings:hover,#feedback:hover,.link:hover{
    color: chartreuse;
    text-decoration: none;
}

*{
    box-sizing: border-box;
}

body{ 
    background-color: #fff;
}

.dark p, .dark a
{
    color: white;
}

.label {
    background-color: black;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 5px;
    height: 27px;
    width: 50px;
    border-radius: 50px;
}

span.button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    margin: 0;
    position: relative; left: 780px;
}

body.dark {
    background-color: #292c35;
}

span.dark {
    color: white;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f1c40f;
}

.ball {
    width: 23px;
    background-color: #fff;
    top: 2px;
    border-radius: 50%;
    left: 2px;
    height: 23px;
    position: absolute;
    transition: transform 0.1s linear;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox:checked + .label {
    background-color: orangered;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.fa-calculator{
    color: white;
}

.nav1
{
    margin-left: auto;
}
nav
{
    display: flex;
    gap: 4em;
    background-color: #003049;
    padding: 1em 3em;  
}

.desktop-view
{
    display: flex;
    gap: 2rem;
    flex-direction: row;
    color: white;
    flex: 1;
    justify-content: space-evenly;
}


.mobile-view
{
    display: none;
}

.hamburger
{
    margin-left: auto;
    display: none;
    color: white;
}

@media (max-width: 480px)
{
    .main1
    {
        padding: 1rem;
    }
    .hamburger
    {
        display: block;
    }
    .desktop-view
    {
        display: none;
    }
    nav
    {
        display: inline-block;
        width: 100%;
        padding: 1em;
    }
    .mobile-view
    {
        flex-direction: column;
        gap: 2rem;
        padding: 15px;
        align-items: center;
    }
    .flex-con
    {
        flex-wrap: wrap;
        gap: 1rem
    }
    .main1,.main2,.main3
    {
        border: 0;
    }
    #steps, #vis
    {
        padding: 0;
    }
    #steps
    {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        padding: 1rem;
    }
    .nav1
    {
        margin-left: 0;
    }
}

textarea
{
    width: 70%;
}

#nom
{   
    display: inline-block;
    width: 50%;
}

#email
{   
    display: inline-block;
    width: 50%;
}