*
{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.nav
{
    display: flex;
    gap: 2em;
    padding: 1em 1em 1em 3em;
    background-color: rgb(26, 26, 252);
    color: white;
}

#header-text
{
    font-size: 30px;
    margin: 4px 4px;
}

header
{
    margin: .5em;
    padding-left: 5em;
    display: flex;
    align-items: center;
    color: rgb(26, 26, 252);
}

body
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer
{
    margin-top: auto;
    display: flex;
    gap: 2em;
    padding: 1em 1em 1em 3em;
    background-color: rgb(26, 26, 252);
    color: white;
}

#num-line
{
    border-top: 1px solid red;
    position: relative;
    top: 2.56em;
    width: 700px;

}

#num-line-div
{
    display: flex;
    justify-content: center;
}

.number-container
{
    display: flex;
    justify-content: center;
    margin-top:1.5em;

    gap: 10em;
    z-index:1;

}

.circle 
{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 10px;
    background: rgb(26, 26, 252);
    border: 1px solid rgb(26, 26, 252);
    color: white;
    text-align: center;
    font: 20px Arial, sans-serif;
}

#cc
{
    background: rgb(33, 129, 255);
    border: 1px solid cyan;
}

.container
{
    display: flex;
    align-items: center;
    gap: 3em;
}

#input-container
{
    display: flex;
    flex-direction: column;
    padding: 3em;
    gap: 4em;
    width: 26em;
}

.input-box
{
    width: 10em;
    height: 2em;
    border: 1px solid rgb(26, 26, 252);
}

.input-label, #vis-label, #result-self
{
    width: 5em;
    height: 2em;
    background: rgb(26, 26, 252);
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 2em;
}

#result-self
{
    width: 15em;
    align-self: center;
}

#main-container
{
    display: flex;
    gap: 10em;
    justify-content: center;
    
}

#vis-container
{
    display: flex;
    flex-direction: column;
    gap:1em;
    padding: 2em;
}

#vis-label
{
    width: 7em;
}

#vis-display
{
    min-height: 21em;
    min-width: 30em;
    border: 1px solid rgb(26, 26, 252);
}

#step-container
{
    padding: 3em 12em;

}

#download-container
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 2em 1em 0;
}

#learnpoly,#home,#settings,#feedback,#download,.link
{
    color: white;
    text-decoration: none;
}
#learnpoly:hover,#home:hover,#settings:hover,#feedback:hover,#download:hover,.link:hover{
    color: chartreuse;
    text-decoration: none;
}