*
{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.nav
{
    width: 100%;
    display: flex;
    gap: 3em;
    padding: 1em 1em 0.2em 3em;
    flex-direction: row;
    background-color: rgb(26, 26, 252);
    color: white;
    flex: 1;
    justify-content: left;
    justify-content: space-evenly;
}

body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }

.nav1{
    justify-content: right;
}

.main3{
    width: 100%;
    height: 20vh;
    padding-left: 58px;
    color: blue;
}

#header-text
{
    font-size: 30px;
    margin: 4px 4px;
}

header
{
    margin: .5em;
    padding-left: 5em;
    display: flex;
    align-items: center;
    color: rgb(26, 26, 252);
}

body
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer
{
    margin-top: auto;
    display: flex;
    gap: 2em;
    padding: 1em 1em 1em 3em;
    background-color: rgb(26, 26, 252);
    color: white;
}

#num-line
{
    border-top: 1px solid red;
    position: relative;
    top: 1.6em;
    width: 650px;
    z-index: 0;

}

#num-line-div
{
    display: flex;
    justify-content: center;
}

.number-container
{
    display: flex;
    justify-content: center;
    margin-top:1em;
    gap: 10em;
    z-index: 1;

}

.circle 
{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 2px;
    background: rgb(26, 26, 252);
    border: 1px solid rgb(26, 26, 252);
    color: white;
    text-align: center;
    font: 13px Arial, sans-serif;
}

#cc
{
    background: rgb(33, 129, 255);
    border: 1px solid cyan;
}

.container
{
    display: flex;
    gap: 3em;
}

#input-container
{
    display: flex;
    flex-direction: column;
    padding: 3em;
    gap: 4em;
    width: 26em;
    justify-content: right;
}

.input-box
{
    width: 10em;
    height: 2em;
    border: 1px solid rgb(26, 26, 252);
}

.input-label, #vis-label, #result-self
{
    width: 5em;
    height: 2em;
    background: rgb(26, 26, 252);
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 2em;
}

#result-self
{
    width: 15em;
    align-self: center;
    border-radius: 1px;
}

#main-container
{   display: flex;
}

#vis-container
{
    display: flex;
    flex-direction: column;
    gap:1em;
    padding: 2em;
}

#vis-label
{
    width: 7em;
}

#vis-display
{   display: flex;
    min-height: 21em;
    min-width: 30em;
    border: 1px solid rgb(26, 26, 252);
}

#step-container
{
    padding: 3em 12em;
    color: rgb(26, 26, 252);
}

#download-container
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 2em 1em 0;
}

#learnpoly,#home,#settings,#feedback,#download,.link
{
    color: white;
    text-decoration: none;
}
#learnpoly:hover,#home:hover,#settings:hover,#feedback:hover,#download:hover,.link:hover{
    color: chartreuse;
    text-decoration: none;
}

#result-self:hover, .dwn:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.dark
{
    background-color: #292c35;
}

*{
    box-sizing: border-box;
}

body{ 
    background-color: #fff;
}


.label {
    background-color: black;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 5px;
    height: 27px;
    width: 50px;
    border-radius: 50px;
}

span.button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    margin: 0;
    position: relative; left: 780px;
}

body.dark {
    background-color: #292c35;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f1c40f;
}

.ball {
    width: 23px;
    background-color: #fff;
    top: 2px;
    border-radius: 50%;
    left: 2px;
    height: 23px;
    position: absolute;
    transition: transform 0.1s linear;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox:checked + .label {
    background-color: orangered;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.fa-calculator{
    color: white;
}

.input-label{
    border-radius: 100% 10% 100% 100%;
}

.dwn{
    border-radius: 1px;
}